body {
    background-color: antiquewhite;
}
header{
    padding: 0 !important;
}
.bg-bluee{
    background-color: hsl(200 50% 80%);
    padding: 0 !important;
}
.nav2 {
    color: black !important;
}
.row>*{
    margin-top: 10px;
    margin-bottom: 10px;
}
