.pruebaColor{
    color: rgb(7, 180, 94);
    /*border: 3px black solid;*/
    /*border: 3px black dotted;*/
    /*border: 3px black dashed;*/
    /*border: 3px black double;*/
    border: 3px rgb(175, 33, 33) groove;
    /**border: 3px black ridge;*/
    /*border: 3px black inset;*/
    /*border: 3px black outset;*/
    border-width: 100px;
    /*border-radius: 10px;*/
    border-image: url("neon-genesis-evangelion-3-5k-4096x2304.jpg") fill 20%;
}
table, th, td {
    border: 1px solid black;
    max-width: 800px;
}
.estiloArticle {
    background-color: rgb(255, 184, 184);
    color: rgb(8, 45, 146);
    opacity: 1;
}