* {
    margin: 0;
}
header{
    background-color: black;
    border-radius: 10px;
    margin: 0;
}
.navigation_bar{
    margin: 10px 15px;
}
.h2_header{
    color: aliceblue;
    margin: 10px;
    border: none;
}
.ul_header {
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.li_header {
    float: left;
    marker: none;
}
.active {
    background-color: rgb(93, 93, 245);
    padding: 0;
}
body {
    background-color: rgba(127, 115, 163, 0.432);
    margin: 5px;
}
h1 {
    text-align: center;
    background:-webkit-linear-gradient(rgb(151, 0, 252) , rgb(88, 77, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
}
h2{
    text-align: center;
    background:-webkit-linear-gradient(rgb(151, 0, 252) , rgb(88, 77, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

li a {
    display: block;
    color: white;
    text-align: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #252964;
}
.grid-container{
    display: grid;
    max-width: 900px;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 70px 70px 70px 70px 70px 70px 70px;
    row-gap: 1px;
    column-gap: 1px;
    background-color: unset;
    padding: 1px;
    text-decoration: none;
}
.grid-item{
    background-color: rgb(149, 212, 255);
    border: 2px solid black;
    border-radius: 10px;
    padding: 1%;
    font-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    }
.item1r{
    background-color: rgb(76, 48, 139);
    color: white;
}
.item2r{
    background-color: rgb(76, 48, 139);
    color: white;
    grid-column-start: 1;
    grid-column-end: 6;
}
.item3rc1{
    background-color: rgb(226, 117, 70);
    grid-column-start:1 ;
    grid-column-end: 3;
}
.item3rc2{
    background-color: rgb(226, 117, 70);
    grid-column-start:3 ;
    grid-column-end: 6;
}
.itemr{
    background-color: rgb(233, 220, 104);
    grid-column-start: 1;
    grid-column-end: 6;
}
.item6c{
    grid-row-start: 1;
    grid-row-end: 8;
    grid-column: 6;
    writing-mode: vertical-rl;
    background-color: lightgreen;
}
.content_container{
    max-width: 70%;
    margin: auto;
}

footer {
    background-color: black;
    color: aliceblue;
    display: block;
    border-radius: 10px;
}
.div_footer{
    margin: 10px 20px;
    max-width: 90%;
    display: flex;
}
.text_footer{
    text-align: center;
    padding: 10px;
}
.li_footer {
    marker: none;
    text-decoration: none;
    padding: 10px;
}
.ul_footer {
    display: block;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.h3_footer{
    text-align: center;
    margin: 10px;
}
.footer_1s{
    display: grid;
    grid-template-columns: 50% 50%;
}